<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p id="write">내가 작성한 게시물</p>
<p id="comment">내가 댓글 남긴 게시물</p>
<p id="like">내가 좋아한 게시물</p>
<table>
  <tr>
    <th>번호</th>
    <th>제목</th>
    <th>작성자</th>
    <th>작성시간</th>
    <th>조회수</th>
    <th>좋아요</th>
  </tr>
  <tr th:each="board:${board}">
    <td th:text = "${board.boardId}"></td>
    <td>
      <a th:href="'/board/' + ${board.boardId}" th:text="${board.boardTitle}"></a>
    </td>
    <td th:text = "${board.boardWriter}"></td>
    <td th:text = "${board.boardCreated}"></td>
    <td th:text = "${board.boardPass}"></td>
    <td th:text = "${board.boardLike}"></td>
  </tr>
</table>
<script>
  const state = [[${state}]];

  const one = document.getElementById("write");
  const two = document.getElementById("comment");
  const three = document.getElementById("like");
  if(state == 1){
    one.style.display = "inline";
    two.style.display = "none";
    three.style.display = "none";
  }
  else if(state == 2){
    one.style.display = "none";
    two.style.display = "inline";
    three.style.display = "none";
  }
  else if(state == 3){
    one.style.display = "none";
    two.style.display = "none";
    three.style.display = "inline";
  }
  else{
    one.style.display = "none";
    two.style.display = "none";
    three.style.display = "none";
  }
</script>
</body>
</html>